<div class="layout-container">
  <p-menubar [model]="getMenuItems()" styleClass="top-menu">
    <ng-template #end>
      <div class="user-info">
        <span class="user-name">{{ userFullName }}</span>
        <span class="user-role">{{ userRole }}</span>
        <p-button
          label="Logout"
          icon="pi pi-sign-out"
          severity="danger"
          (onClick)="logout()"
          [text]="true"
        ></p-button>
      </div>
    </ng-template>
  </p-menubar>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

